.ProductCard {
  width: 225px;
  position: relative;
}
.ProductCardHover {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  background: rgb(241, 213, 182, 0.7);
  top: 0;
  left: 0;
  .HoverIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .CartBtn {
    h2 {
      display: none;
      position: absolute;
      width: 24px;
      height: 24px;
      line-height: 1;
      color: var(--Black);
      text-shadow: 0 0 2px var(--White);
      cursor: pointer;
    }
  }
}
.ProductCardImg {
  width: 100%;
  img {
    width: 100%;
  }
}
.ProductCardHeart {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 25px;
}
.ProductCardOnsale {
  position: absolute;
  background: url(/product/font/onsale-bg.png) no-repeat center/cover;
  width: 50px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  user-select: none;
  padding-bottom: 3px;
}
.ProductCardInfo {
  padding: 0 20px 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .ProductCardName {
    color: var(--Black);
  }
  .ProductCardPrice {
    color: var(--Orange);
  }
}
