.ProductCard {
  width: 225px;
  position: relative;
}
.ProductCardHover {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(241, 213, 182, 0);
  top: 0;
  left: 0;
  .HoverIcon {
    display: none;
  }
  .CartBtn {
    display: none;
  }
}
.ProductCardHover:hover {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  background: rgb(241, 213, 182, 0.7);
  top: 0;
  left: 0;
  .HoverIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .CartBtnOff {
    h6 {
      display: none;
    }
  }
  .CartBtn {
    h6 {
      position: absolute;
      color: var(--Black);
      text-shadow: 0 0 2px var(--White);
      cursor: pointer;
      top: 0;
    }
  }
}
.ProductCardImg {
  width: 100%;
  img {
    width: 100%;
  }
}
.ProductCardHeart {
  position: absolute;
  right: 12px;
  top: 10px;
}
.ProductCardHeartOff {
  display: none;
}
.ProductCardCart {
  position: absolute;
  right: 6px;
  top: 300px;
  p {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 7px;
    left: 2px;
    color: var(--White);
  }
}
.ProductCardCartOff {
  display: none;
}
.ProductCardOnsale {
  position: absolute;
  background: url(/product/font/onsale-bg.png) no-repeat center/cover;
  width: 50px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  user-select: none;
  padding-bottom: 3px;
}
.ProductCardInfo {
  padding: 0 20px 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .ProductCardName {
    color: var(--Black);
    display: flex;
    align-items: center;
    height: 72px;
  }
  .ProductCardPrice {
    color: var(--Orange);
  }
}
