.bag {
  background-color: #f5842b;
}
.wrapper {
  /* margin: 0 auto;
  max-width: 1440px;
  text-align: center; */
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  .word {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.4px;
    color: White;
  }
}

/* ----------footer上段區域-------- */
.footerTop {
  .topWave {
    width: 100%;
  }
}
/* ----------footer中、底段區域-------- */
.footerMiddle,
.footerBottom {
  background: #f5842b;
}
/* ---------------------------------- */
/* ----------footer中段區域----------- */
.footerMiddle {
  .infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    color: White;
    margin: 0;
    li {
      padding: 35px 10px;
    }
  }
}

/* -------footer中段區域第1部分------- */
.footerList1 {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 21px 0 0 0;
  figure {
    margin: 0 0 10px 0;
  }
  .logoPic {
    width: 60px;
    height: auto;
  }
  .lazydog {
    color: white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .place {
    display: flex;
    /* width: 514px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    .address {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* gap: 10px; */
      align-self: stretch;
      .addInfo {
        color: var(--Color-4, #fdfaf5);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 170% */
        letter-spacing: 4px;
        margin: 10px 0 0 0;
      }
    }

    .timeInfo {
      color: var(--Color-4, #fdfaf5);
      font-family: "Noto Sans TC";
      font-size: 14px;
      font-weight: 400;
      line-height: 35px; /* 194.444% */
      letter-spacing: 3.16px;
      margin: 0;
    }
  }
}

/* ------footer中段區域第2,3部分------ */
.footerListGroup {
  width: 400px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.footerList2,
.footerList3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  .clientService {
    padding: 5px 0 15px;
    user-select: none;
    color: var(--Color-4, #fdfaf5);
    font-size: 20px;
    font-weight: 600;
    line-height: 34px; /* 106.25% */
    letter-spacing: 5px;
    margin: 0;
  }
  p {
    margin: 0;
  }
  .service {
    color: var(--Color-4, #fdfaf5);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-left: 1.5px;
    &:hover {
      color: #3b3330;
      text-shadow: #3b3330 0px 0px 2px;
      /* font-weight: bold; */
    }
  }
}

/* -------footer中段區域第4部分------- */
.footerList4 {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding: 21px 0 0;
  /* margin-block: auto; */
  .footerEmail {
    border: 8px solid #f6ce5b;
    width: 80%;
    height: 60px;
    border-radius: 100px;
    background: White;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    .enterMail {
      max-width: 170px;
      border: none;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 2px;
      background: White;
      outline: none;
    }
    .enterMail::placeholder {
      color: #cac8c8;
    }
    .planeBtn {
      padding: 0;
      /* max-width: 36px; */
      height: 60%;
      border: none;
      background: none;
      img {
        /* width: 100%; */
        height: 100%;
      }
    }
  }
  .discount {
    color: var(--Color-4, #fdfaf5);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 34px; /* 154.545% */
    letter-spacing: 1.2px;
  }
  .footerIcon {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 20px;
    .icons {
      cursor: pointer;
    }
  }
}
/* ---------------------------------- */
/* -----------footer底段區域---------- */
.footerBottom {
  color: White;
  text-align: center;
  font-size: 12px;
  line-height: 65px;
  letter-spacing: 2px;
  user-select: none;
}
/* ---------------------------------- */
