.lumi-header {
  display: flex;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 63px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
}
.lumi-logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ff9538;
  text-decoration: none;
}
.lumiLogo1 {
  margin-left: 20px;
  width: 60px;
}
.lumi-user-actions {
  display: flex;
}
.lumi-user-icon {
  font-size: 36px;
  margin-right: 20px;
  color: #ff9538;
}
.lumi-cart-icon {
  font-size: 32px;
  color: #ff9538;
}
.lumi-item {
  padding: 8px;
  a {
    color: #3b3330;
    text-decoration: none;
  }
  a:hover {
    color: #ff9538;
    font-weight: bold;
  }
}
.lumi-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 15px;
  letter-spacing: 2px;
  gap: 60px;
  a {
    text-decoration: none;
    color: rgba(59, 51, 48, 1);
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
    color: #ff9538;
  }
}

.lumi-signin {
  color: #ff9538;
  font-weight: 700;
  margin: 5px;
}
.lumi-connect {
  color: #ff9538;
  font-weight: 800;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff9538;
  min-width: 140px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
}

.dropdown-link {
  color: #3b3330;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-link:hover {background-color: #ffffff;
  color : #ff9538;}

.dropdown:hover .dropdown-content {display: block;}

@media (max-width: 768px) {
  .lumiLogo1 {
    display: none;
  }
  
}