body {
  overflow-x: hidden;
}
.section1 {
  position: relative;
  min-height: 990px;
  background-color: #f5842b;
  overflow-x: hidden;
  .paw1 {
    width: 15%;
    position: absolute;
    left: -1%;
    bottom: 25%;
  }

  .words {
    padding-bottom: 68px;
    margin: 280px 0 150px;
    @media (max-width: 1200px) {
      margin: 150px 0 150px;
    }
    @media (max-width: 992px) {
      margin: 80px 0 150px;
    }
  }

  .sale11Word {
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 15px;
    /* text-wrap: nowrap; */
    margin-bottom: 35px;
    @media (max-width: 1200px) {
      font-size: 50px;
    }
    @media (max-width: 992px) {
      font-size: 35px;
    }
  }
  .sale12Word {
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 12.5px;
    /* text-wrap: nowrap; */
    margin-bottom: 35px;
    @media (max-width: 1200px) {
      font-size: 55px;
      letter-spacing: 15px;
    }
    @media (max-width: 992px) {
      font-size: 35px;
    }
  }

  .sale2 {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;

    .discountNum {
      color: var(--real-wh, #fff);
      font-family: "Noto Sans TC", sans-serif;
      font-size: 100px;
      font-style: normal;
      font-weight: 900;
      letter-spacing: 13.2px;
    }

    .discountWord {
      color: var(--real-wh, #fff);
      font-size: 55px;
      font-weight: bolder;
      padding-bottom: 23px;
    }
  }
  .sale3Word {
    /* text-align: center; */
    /* overflow: hidden; */
    color: var(--Color-6, #3b3330);
    text-align: center;
    text-overflow: ellipsis;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%; /* 43.2px */
    letter-spacing: 6.24px;
    margin: 60px 0 60px;
  }
  .sale3 {
    display: flex;
    justify-content: center;
    .sale3Btn {
      padding: 20px 70px;
      border-radius: 96px;
      background: var(--Color-5, #f6ce5b);
      color: #3b3330;
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 0.8px;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      transition: all 0.3s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .sale3Btn:hover {
      background-color: white;
      color: #ff9538;
      /* border: 2px solid #ff9538; */
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
    .sale3Btn:active {
      transform: translateY(3px);
    }
  }
}
.dog {
  position: relative;

  .paw2 {
    position: absolute;
    left: -30%;
    top: 25%;
    z-index: 1;
  }
  .paw3 {
    position: absolute;
    right: -34%;
    bottom: -19%;
    z-index: 1;
  }
  .dogBackground {
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    z-index: 1;
    width: 583px;
  }

  .lines {
    position: absolute;
    right: -35%;
    top: 18%;
    z-index: 0;
  }

  .dogPic {
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translateX(-50%);
    z-index: 2;
    width: 65%;
  }
}

.whiteWave {
  width: 100%;
  height: auto;

  img {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    z-index: 0;
  }
}

.section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fdfaf5;
  padding: 113px 0px 80px;

  @media (max-width: 992px) {
    padding: 113px 0px 20px;
  }

  .words {
    margin: 0 100px 100px;
    @media (max-width: 992px) {
      margin: 0 50px 100px;
    }
    @media (max-width: 768px) {
      margin: 0 10px 100px;
    }

    .shopping {
      color: var(--Color-3, #66c5bd);
      /* leading-trim: both;
        text-edge: cap; */
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 52px;
      margin: 30px;
      letter-spacing: 2px;
      @media (max-width: 768px) {
        font-size: 38px;
      }
    }
    .today {
      color: var(--Color, #ff9538);
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 67px;
      margin: 30px;
      letter-spacing: 3px;
      @media (max-width: 768px) {
        font-size: 38px;
        margin-bottom: 0px;
      }
    }
  }

  .imgs {
    .dogCookie {
      position: absolute;
      right: 331.24px;
      top: 61px;
      z-index: 1;
      width: 251.227px;
      height: 235.902px;
    }
    @media (max-width: 992px) {
      right: 331.24px;
      top: 61px;
    }
    .cookieBag {
      position: absolute;
      right: 175.941px;
      top: -31px;
      z-index: 0;
      width: 318px;
      height: 309px;
    }
  }

  .productCards {
    padding: 20px 0px;
    justify-content: space-evenly;
    margin: 0 100px 350px;

    .card {
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 240px;
      cursor: pointer;
      .pdPics {
        overflow: hidden;
        border-radius: var(--card-radius, 25px);
        border: 2px solid #ff9538;
        height: 230px;
        margin-bottom: 29px;
        .dryfood {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .p {
        overflow: hidden;
        color: #84572e;
        text-align: center;
        text-overflow: ellipsis;
        font-family: "Kosugi Maru";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.08px;
        margin-bottom: 21px;
      }
    }
  }

  .brownWave {
    width: 100%;
    height: auto;

    img {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: auto;
      z-index: 0;
    }
  }
}

.section3 {
  position: relative;
  background-color: #fff6e8;
  padding: 50px 0;

  .discountPic {
    position: relative;
    /* top: 15%; */
    left: 50%;
    translate: -50% -75%;
    background-color: #f6ce5b;
    width: 100%;
    max-width: 1335px;
    height: 350px;
    border-radius: 30px;
    z-index: 2;
    padding: 40px 20px;

    .discountPic3 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .girlDog {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .discountWord {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      bottom: 0;
      color: #f5842b;
      text-align: center;
      font-family: "Noto Sans TC";
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 85px; /* 132.813% */
      letter-spacing: 9.6px;
    }
    .readmoreBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 70%;
      left: 50%;
      translate: -50% -50%;
      width: 320px;
      height: 63px;
      padding: 28px 61px;
      border: none;
      border-radius: 30px;
      background: var(--Color, #f5842b);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
      color: var(--text-Wh, #f7f7f7);
      text-align: center;
      font-family: sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      letter-spacing: 2.5px;
      box-sizing: border-box;
      cursor: pointer;
    }
    .circle {
      display: grid;
      place-items: center;
      position: absolute;
      right: -72px;
      bottom: -67px;
      background-color: #66c5bd;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      color: #fff;
      font-family: "Work Sans", sans-serif;
      font-size: 36px;
      font-weight: 800;
      line-height: 39px;
    }
  }

  .hotel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 150px 200px;

    .map {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .hotelWords {
      display: grid;
      place-items: center;
      text-align: center;

      .h2 {
        color: var(--Color, #f5842b);
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 10.24px;
        padding-bottom: 43px;
        margin: 0;
      }
      .p {
        color: #545252;
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.64px;
        padding-bottom: 68px;
      }
      .bookBtn {
        width: 230px;
        height: 70px;
        padding: 20px 40px;
        justify-content: center;
        align-items: center;
        background: var(--Color, #f5842b);
        color: var(--white, #fff);
        border: none;
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
      }
      .bookBtn:hover {
        background-color: white;
        color: #f5842b;
        border: 2px solid;
        border-color: #f5842b;
      }
    }
    .hotelViews {
      position: absolute;
      left: 10%;
      top: 20%;
      background-color: #fff;
      width: 200px;
      /* height: 180px; */
      border: 1px solid #f6ce5b;
      border-radius: 10px;
      box-sizing: border-box;
      overflow: hidden;
      .dryfood {
        width: 200px;
        height: 150px;
        object-fit: cover;
      }
      .h5 {
        overflow: hidden;
        color: #84572e;
        text-align: center;
        text-overflow: ellipsis;
        font-family: "Kosugi Maru";
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 3.08px;
        margin: 0;
        padding: 10px 0;
      }
    }
  }

  .firework1 {
    position: absolute;
    right: 9%;
    top: 25%;
  }
  .firework2 {
    position: absolute;
    left: 37%;
    bottom: 20%;
  }

  .whiteWave2 {
    width: 100%;
    height: auto;

    .wave {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }
}

.section4 {
  position: relative;
  display: grid;
  place-items: center;
  margin-bottom: 120px;

  .section4Title {
    color: var(--Color-3, #66c5bd);
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 8px;
    margin: 50px 0 120px;
  }
  .userCards {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 18px; */
    margin: 0 0 120px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 340px;
      height: 240px;
      border-radius: 10px;
      background: #fffaf0;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
      font-family: "Noto Sans TC";
      font-style: normal;
      box-sizing: border-box;
    }
    .card1 {
      padding: 28px 0px;
      /* gap: 20px; */
      .p1 {
        color: var(--Color-3, #66c5bd);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 3.6px;
        margin: 0;
      }
      .p2 {
        color: #f5842b;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 6.4px;
        margin: 0;
      }
      .card1Word {
        font-size: 14px;
        font-weight: 600;
        line-height: 27px;
        color: #000000;
        margin: 5px 0 0 0;
      }
    }
    .card2 {
      padding: 31px 11px;
      gap: 10px;
      .shipIcon {
        width: 60px;
        height: 60px;
      }
      .card2Word {
        color: #f5842b;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 52px; /* 144.444% */
        letter-spacing: 3.6px;
        margin: 0;
      }
      .card2P {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 27px; /* 192.857% */
        margin: 0;
      }
    }
    .card3 {
      padding: 31px 11px;
      gap: 10px;
      .icon {
        width: 60px;
        height: 60px;
        .moneyIcon {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .card5Word {
        color: #f5842b;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 52px; /* 144.444% */
        letter-spacing: 3.6px;
        margin: 0;
      }
      .card5P {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 27px; /* 192.857% */
        margin: 0;
      }
      .discount8 {
        color: #f00;
      }
    }
    .card4 {
      padding: 31px 11px;
      gap: 5px;
      .qrcode {
        width: 100px;
      }
      .h4 {
        color: #f5842b;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 52px; /* 144.444% */
        letter-spacing: 3.6px;
        margin: 0;
      }
      .p {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        margin: 0;
      }
    }
  }
  .signupBtn {
    display: block;
    /* margin: 0 auto; */
    text-align: center;
    align-content: center;
    width: 480px;
    height: 60px;
    padding: 12px 48px;
    background: var(--green, #66c5bd);
    border: none;
    color: var(--white, #fff);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  .yellowPaws {
    position: absolute;
    right: 10px;
    bottom: -172px;
  }
}
.signupBtn:hover {
  background-color: white;
  color: #66c5bd;
  border: 2px solid;
  border-color: #66c5bd;
}

.btns {
  .ticketIcon,
  .topIcon {
    position: fixed;
    width: 55px;
    height: 55px;
    background: #66c5bd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .ticketIcon {
    display: block;
    text-align: center;
    align-content: center;
    right: 28px;
    bottom: 365px;
    z-index: 99;
  }
  .topIcon {
    right: 28px;
    bottom: 285px;
    z-index: 99;
  }
}
