.container {
  width: 100%;
  /* max-width: 180px; */
  /* margin-right: 50px; */
  border-radius: 8px;
  padding: 24px 0;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.welcome {
  font-weight: 550;
}
.link span {
  margin-right: 12px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 頂端對齊 */
  gap: 40px;
  margin: 60px auto 20px;
  max-width: 1320px;
}

.item {
  padding: 8px;
  a {
    color: #3b3330;
    text-decoration: none;
  }
  a:hover {
    color: #ff9538;
    font-weight: bold;
  }
}

.item {
  padding: 8px;
  color: #3b3330;
  text-decoration: none;
}
.item:hover {
  color: #ff9538;
  font-weight: bold;
}