.avatar-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1.5px solid #ddd;
}

.camera-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.camera-icon-img {
  width: 18px;
  height: auto;
}

.dropdown-menu {
  min-width: 120px;
  text-align: center;
}

.dropdown-item {
  cursor: pointer;
}
