.suAvatarImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #ddd;
}

.suCameraIcon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.suCameraIconImg {
    width: 36px;
    height: 36px;
}

.suDropdownMenu {
    min-width: 120px;
    text-align: center;
}

.suDropdownItem {
    cursor: pointer;
}
.suBtnSecondary {
  background-color: #66C5BD;
  border-radius: 5px;
  color: white;
  border: 1px solid transparent;
}
.suBtnSecondary:hover {
   background-color: white;
  color: #66c5bd;
  border: 2px solid;
  border-color: #66c5bd;
 
}
.secondary {
  background-color: #66C5BD;
  border-radius: 5px;
  color: white;
  border: 1px solid transparent;
}