
.infoCard {
    width: 200px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  
  .cardTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* 選單項目 */
  .menuItem {
    display: flex;
    align-items: center;
    padding: 12px;
    border-top: 1px solid #eee;
    color: #454545;
    cursor: pointer;
  }

  .menuItem:hover {
    color: #ff9538;
    font-weight: bold;
  }
    
  .icon {
    margin-right: 8px;
    font-size: 16px;
  }

  /* teacher */
.server{
  background-image: url(../../public/teacher-img/bag.png);
  width: 1920px;
height: 450px;
justify-content: center;
align-content: center;
color: white;
font-size: 42px;
font-weight: 700;
letter-spacing: 6px;
margin: 0;
}
.person{
  border-radius: 100%;
}
  .card6 {
  /* width: 180px; */
  height: 364px;
  transition: 0.4s;
  color: #3b3330;
  box-shadow: rgba(60, 60, 60, 0.35) 0px 5px 15px;
}

.card6:hover {
  translate: 0 -10px;
  background-color: #FFF6E8;
}

.card6Title {
  font-size: 22px;
  font-weight: 500;
  margin: 5px 0;
  padding:10px 20px;
}

.card6 img {
  height: 260px;
  width: 100%;
  background-color: #c9c9c9;
  box-shadow: inset 8px 8px 10px #c3c3c3, inset -8px -8px 10px #cfcfcf;
}

.card6Description {
  font-size: 14px;
  padding:0 20px;
}

  .card7 {
  /* width: 180px; */
  /* height: 264px; */
  transition: 0.4s;
  color: #3b3330;
  box-shadow: rgba(60, 60, 60, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

.card7:hover {
  translate: 0 -10px;
  background-color: #FFF6E8;
}

.card7Title {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0;
  padding: 10px 20px 20px 20px;
}

.img1{
width: 571px;
height: 300px;
/* padding: 10px; */
margin: 10px;
}
.img{
  width: 300px;
height: 300px;
margin: 10px;
}
.cube{
  width: 240px;
  height: 80px;
}
.dog-image{
  width: 80px;
height: 80px;
margin: 50px;
}