<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/globals.css" />
    <link rel="stylesheet" href="./css/header.css" />
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar navbar-left">
        <a href="">About LazyDog</a>
        <a href="">Product</a>
        <a href="">Hotel</a>
      </nav>
      <section class="header-logo">
        <a href=""
          ><figure><img src="./img/logo.png" alt="" /></figure
        ></a>
      </section>
      <nav class="navbar navbar-right">
        <a href="">Course</a>
        <a href="">Teacher</a>
        <a href="">Article</a>
        <div class="header-icon">
          <a href=""><img src="./img/font/user.png" alt="" /></a>
          <a href=""><img src="./img/font/cart.png" alt="" /></a>
        </div>
      </nav>
      <div class="header-hoverArea">
        <ul>
          <li>
            <h1><a href="">狗狗飼料</a></h1>
            <p><a href="">人氣品牌</a></p>
            <p><a href="">適齡飼料</a></p>
            <p><a href="">機能飼料</a></p>
            <p><a href="">美味飼料</a></p>
          </li>
          <li>
            <h1><a href="">狗狗罐罐</a></h1>
            <p><a href="">人氣品牌</a></p>
            <p><a href="">主/副食罐罐</a></p>
            <p><a href="">適齡罐罐</a></p>
            <p><a href="">機能罐罐</a></p>
          </li>
          <li>
            <h1><a href="">狗狗零食</a></h1>
            <p><a href="">人氣品牌</a></p>
            <p><a href="">機能零食</a></p>
            <p><a href="">美味零食</a></p>
          </li>
          <li>
            <h1><a href="">狗狗保健</a></h1>
            <p><a href="">人氣品牌</a></p>
            <p><a href="">強效潔牙</a></p>
            <p><a href="">腸胃保健</a></p>
            <p><a href="">骨骼保養</a></p>
            <p><a href="">護膚毛髮保養</a></p>
          </li>
          <li>
            <h1><a href="">狗狗清潔</a></h1>
            <p><a href="">人氣品牌</a></p>
            <p><a href="">環境除臭</a></p>
            <p><a href="">環境驅蟲</a></p>
            <p><a href="">環境清潔</a></p>
          </li>
          <li>
            <h1><a href="">狗狗居家</a></h1>
            <p><a href="">人氣品牌</a></p>
            <p><a href="">寢具服飾</a></p>
            <p><a href="">籠具訓練</a></p>
            <p><a href="">飲水餐具</a></p>
          </li>
          <li>
            <h1><a href="">狗狗外出</a></h1>
            <p><a href="">人氣品牌</a></p>
            <p><a href="">外出用品</a></p>
            <p><a href="">美容除臭</a></p>
            <p><a href="">除蟲醫藥</a></p>
          </li>
        </ul>
      </div>
    </header>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="./js/header.js"></script> -->
  </body>
</html>
