/* 共用 */
.rounded {
  border-radius: 5px !important;
}
.tName,
.tGmail,
.tTitle {
  font-weight: bold;
}
/* 滾軸樣式 */
.scrollOrg {
  --sb-track-color: #bcbcbc38;
  --sb-thumb-color: #f7a96d;
  --sb-size: 4px;
}

.scrollOrg::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollOrg::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

.scrollOrg::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  /* border: 1px solid #232E33; */
}

@supports not selector(::-webkit-scrollbar) {
  .scrollOrg {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* 右邊 */
.right {
  height: 680px;
  overflow-y: auto;
  /* margin-top: 100px; */

  .orderCard1 {
    overflow: hidden;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    padding-bottom: 10px;
    .orderNum {
      padding: 16px 24px 16px 30px;
    }
  }

  /*  分頁 */
  .pagination {
    display: flex;
    gap: 20px;
    padding: 66px 0;
  }

  .pagination .page-item .page-link {
    border-radius: 50%;
    margin: 0 5px;
    color: #bcbcbc;
    border: none;
  }

  .pagination .page-item.active .page-link {
    background-color: #f5842b;
    color: white;
    border-radius: 60%;
  }

  .pagination .page-item .page-link:hover {
    background-color: #f5842b;
    color: white;
  }
}
