/* 共用 */
/* 滾軸樣式 */
.scrollOrg {
  --sb-track-color: #bcbcbc38;
  --sb-thumb-color: #f7a96d;
  --sb-size: 4px;
}

.scrollOrg::-webkit-scrollbar {
  width: var(--sb-size);
}

.scrollOrg::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

.scrollOrg::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  /* border: 1px solid #232E33; */
}

@supports not selector(::-webkit-scrollbar) {
  .scrollOrg {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.labels:focus,
.controls:focus,
input:focus,
input:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #a1a1a1 !important;
}

/* 右邊 */
.right {
  background: #fff;
  overflow-y: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  .tTitle {
    font-weight: bold;
  }

  .must {
    color: red;
    padding-left: 5px;
  }

  .labels {
    font-size: 15px;
  }

  .controls {
    border-radius: 8px;
    background-color: #fff;
    /* border: none; */
    border: 0.8px solid #e2e1e1;
  }

  .controls::placeholder {
    color: #bcbcbc;
    font-size: 13px;
    padding-left: 2px;
    letter-spacing: 1px;
  }

  /* 目前改不了顏色 */
  .pleaseChoose {
    color: #a1a1a1;
  }

  .mainPic {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border: 0.8px solid #ecebeb;
    border-radius: 8px;
    height: 250px;
    padding: 0;
  }

  .otherPic {
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    overflow: hidden;
    border: 0.8px solid #f5f3f3;
    border-radius: 8px;
    height: 250px;
    padding: 8px;
  }

  /* 美化圖片預覽區 */
  .imageCard {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: #f8f9fa;
    border: 0.1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .imageCard .imgCr {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
  }

  .imageCard .pics {
    width: 100px;
    height: 100px;
  }

  .imageCard .add {
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
    padding: 3px;
  }
  .deleteBtn {
    position: absolute;
    top: 4px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .deleteBtn1 {
    position: absolute;
    top: 85px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .deleteBtn:hover {
    background: darkred;
  }

  .addPicBtn {
    width: 50px;
    height: 25px;
    background-color: #66c5bd;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0;
    margin-left: 15px;
    &:hover {
      background: #20b9ad;
    }
  }

  /* 取消按鈕 */
  .cancleBtn {
    background-color: #dee2e6;
    .cancleBtnA {
      color: #696464;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .cancleBtn:hover {
    background-color: #cecfd1;
    font-weight: bolder;
    color: #696464;
  }

  /* 儲存按鈕 */
  .submitBtn {
    background-color: #fdab69;
    border: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  .submitBtn:hover {
    background-color: #e97720;
  }

  /* 刪除按鈕 */
  .deletedBtn {
    background-color: #fdc6ca;
    border: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    /* .submitBtnA{
      
    } */
  }
  .deletedBtn:hover {
    background-color: #fa2638;
  }
}
