/* 共用 */
/* 滾軸樣式 */
.scrollOrg {
  --sb-track-color: #bcbcbc38;
  --sb-thumb-color: #f7a96d;
  --sb-size: 4px;
}

.scrollOrg::-webkit-scrollbar {
  width: var(--sb-size)
}

.scrollOrg::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

.scrollOrg::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
  /* border: 1px solid #232E33; */
}

@supports not selector(::-webkit-scrollbar) {
  .scrollOrg {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.labels:focus,
.controls:focus,
input:focus, 
input:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #a1a1a1 !important;
}

body{
  background: #fffef3;
}
  



/* 右邊 */
.right{
  background: #fff;
  overflow-y: auto;  
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  .tTitle{
    font-weight: bold;
  }

  .labels{
    font-size: 15px;
  }
  
  .controls  {
    border-radius: 8px;
    background-color: #bcbcbc38;
    border: none;
  }  

  /* 美化圖片預覽區 */
  .imageCard {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    background: #f8f9fa;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* padding: 8px; */
    cursor: pointer;
  }

  .imageCard .imgCr {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    
  }

  .imageCard .add {
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
    padding: 3px;
  }
  /* .delete-btn {
    position: absolute;
    top: 4px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .delete-btn:hover {
    background: darkred;
  } */

  

  .submitBtn{
    background-color: #F5842B;
    border: none;
    &:hover{
      background-color: #e26404;
    }

    .submitBtnA{
      color:white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

  
