@import "bootstrap/dist/css/bootstrap.min.css";
@import "../html/Home/css/home.css";

/* @import
  url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&amp;family=Oswald:wght@200..700&amp;display=swap'); */

body {
  * {
    font-family: "Noto Sans TC", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  color: #3b3330;
}

a {
  text-decoration: none;
}

.lumi-signin {
  color: #ff9538;
  font-weight: 700;
  margin: 5px;
}
.lumi-connect {
  color: #ff9538;
  font-weight: 800;
}

/* app-page 登入 */
.lumi-logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ff9538;
}
.lumi-logo1 {
  margin-right: 20px;
  width: 60px;
}
.lumi-user-actions {
  display: flex;
}
.lumi-user-icon {
  font-size: 26px;
  margin-right: 20px;
  color: #ff9538;
}
.lumi-cart-icon {
  font-size: 20px;
  color: #ff9538;
}
.lumi-item {
  padding: 8px;
  a {
    color: #3b3330;
    text-decoration: none;
  }
  a:hover {
    color: #ff9538;
    font-weight: bold;
  }
}
.lumi-item {
  padding: 8px;
  color: #3b3330;
  text-decoration: none;
}
.lumi-item:hover {
  color: #ff9538;
  font-weight: bold;
}

/* 登入表單 */
.lumi-login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.lumi-login-container {
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 32px;
  background-color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.lumi-form-title {
  /* text-align: center; */
  /* font-size: 1.37rem; */
  font-weight: 600;
  margin-bottom: 32px;
  padding: 0 8px 0;
}
.lumi-input-wrapper {
  height: 54px;
  width: 100%;
  margin-bottom: 24px;
}
.lumi-input-filed {
  height: 100%;
  width: 100%;
  padding: 0 8px 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.lumi-input-filed:focus {
  outline: none;
  border-bottom: 2px solid #ffa726;
}

.lumi-fogot-pass-link {
  /* display: block;
  width: fit-content;
  margin-top: 8px; */
  font-size: 12px;
  color: #ff9538;
  font-weight: bold;
  /* margin-left: 8px; */
  text-decoration: none;
}

.lumi-login-button {
  width: 100%;
  height: 48px;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #ff9538;
  margin-top: 30px;
  border-radius: 5px;
}
.lumi-login-button:hover {
  background-color: #fdf9f5;
  color: #ff9538;
  border-color: #ff9538;
}
.lumi-signup-text,
.lumi-login-text {
  font-size: 14px;
  text-align: center;
  margin: 12px 0 5px;
}

.lumi-agree {
  font-size: 12px;
  margin-top: 30px;
  /* padding: 0 8px 0; */
  text-align: center;
}

.lumi-social-login {
  display: flex;
  /* gap: 1.31rem; */
  align-items: center;
  justify-content: center;
}
.lumi-social-button {
  display: flex;
  width: 60px;
  /* gap: 0.81rem; */
  /* font-size: 1rem; */
  /* font-weight: 500; */
  padding: 12px 0;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffff;
  /* cursor: pointer; */
  /* border: 1px solid; */
  /* border-radius: 0.31rem; */
}
.lumi-google-icon {
  width: 42px;
}
.lumi-line-icon {
  width: 52px;
}
.lumi-separator {
  font-size: 14px;
  margin: 36px 0 5px;
  text-align: center;
}

.lumi-register,
.lumi-terms,
.lumi-login {
  color: #ff9538;
  font-weight: bold;
  /* margin-left: 8px; */
  text-decoration: none;
}
.lumi-other-accounts {
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
  /* justify-content: center;
  align-items: center;  */
  /* margin: 36px 0 5px; */
  /* font-size: 14px; */
}
.lumi-other-accounts-link {
  display: flex;
  gap: 15px;
}
.lumi-teacher {
  color: #ff9538;
  font-size: 12px;
  margin-right: 10px;
}
.lumi-hotel {
  color: #ff9538;
  font-size: 12px;
}
.lumi-bread {
  color: #828282;
}
/* menu 基本資料 */
.lumi-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 頂端對齊 */
  gap: 40px;
  margin: 60px auto 20px;
  max-width: 1320px;
}
.lumi-menu-container {
  width: 100%;
  max-width: 180px;
  margin-left: 50px;
  border-radius: 8px;
  padding: 24px 0;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.lumi-welcome {
  font-weight: 550;
}
.lumi-menu-link span {
  margin-right: 12px;
}
/* teacher */
.lumi-all-wrapper {
  margin: 0 auto 20px;
  max-width: 1320px;
}
.lumi-teacher-btn {
  display: flex;
  width: 270px;
  padding: 10px 48px;
  background-color: #66c5bd;
  color: white;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
}
.lumi-teacher-btn:hover {
  display: flex;
  width: 270px;
  padding: 10px 48px;
  background-color: white;
  color: #66c5bd;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-color: #66c5bd;
  font-weight: 600;
}
.lumi-dog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff6e8;
}

.lumi-dog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lumi-dog div {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #66c5bd;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 6px;
}
.lumi-m-title {
  color: #f5842b !important;
  font-size: 36px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
}
.lumi-s-title {
  color: #66c5bd;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
}
.lumi-teacher-team {
  background-color: #fdfaf5;
}
/* noUiSlider 全域樣式 */
.noUi-target {
  background: #fff !important;
  border-radius: 20px !important;
  border: 2px solid #ff9900 !important;
  box-shadow: none !important;
  height: 8px !important;
}

.noUi-connect {
  background: linear-gradient(to right, #ff8c00, #ffa500) !important;
  border-radius: 20px !important;
}

.noUi-handle {
  background: white !important;
  border: 3px solid #ffa500 !important;
  border-radius: 50% !important;
  width: 22px !important;
  height: 22px !important;
  top: -8px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  cursor: pointer !important;
}

.noUi-handle:before,
.noUi-handle:after {
  display: none !important;
}

.noUi-tooltip {
  background: #ffa500 !important;
  color: white !important;
  border-radius: 5px !important;
  font-size: 12px !important;
  padding: 5px !important;
  font-weight: bold !important;
}
/* noUi結束*/
