.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}
/* ----------廣告區---------- */
.DmArea {
  width: 100%;
  img {
    width: 100%;
  }
}
/* -------------------------- */
/* -------麵包屑與標題-------- */
.BreadcrumbsTitle {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0px 30px 0px;
  gap: 60px;
}
/* -------------------------- */
/* ----------麵包屑---------- */
.Breadcrumbs {
  width: 242px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  a {
    color: var(--gray);
  }
  .BreadcrumbsActive {
    color: var(--Black);
    font-weight: bold;
  }
}
/* -------------------------- */
/* -----------標題----------- */
.Title {
  display: flex;
  flex: auto;
  padding: 0px 5px;
  justify-content: space-between;
  align-items: center;
}
/* -------------------------- */
/* -------標題的篩選---------- */
.TitleFilter {
  display: flex;
  align-items: center;
  gap: 2px;
  li {
    list-style-type: none;
    a {
      color: var(--Black);
    }
  }
}
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .dropdownToggle {
    border: 1px solid var(--Orange);
    border-radius: 20px;
    &.PageItemActive {
      background: var(--Orange);
      color: var(--White);
    }
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 21px;
  right: -15px;
  background-color: #ff9538;
  min-width: 115px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  .dropdown-link {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
.dropdown-contentOn {
  display: block;
  position: absolute;
  top: 21px;
  right: -15px;
  background-color: #ff9538;
  min-width: 115px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  .dropdown-link {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
.dropdown-contentOff {
  display: none;
}
.dropdown-link-top:hover {
  border-radius: 10px 10px 0 0;
}
.dropdown-link-bottom:hover {
  border-radius: 0 0 10px 10px;
}
.dropdown-link:hover {
  background-color: #ffffff;
  color: #ff9538;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* -------------------------- */
/* --------收縮Aside---------- */
.collapseAside {
  position: sticky;
  width: 100%;
  top: 74px;
  @media (max-width: 768px) {
    top: 62px;
  }
  z-index: 2;
  .collapseAsideContent {
    display: flex;
    position: absolute;
    z-index: 1;
    .collapseHorizontal {
      position: relative;
      margin-top: -10px;
      padding: 10px 35px 10px 25px;
      background: white;
      border-right: 3px solid var(--Orange);
      transition: width 0.05s ease, height 0.05s ease;
      .collapseAsideBtn {
        margin-left: 0;
        padding: 0;
        width: 11px;
        position: absolute;
        right: 13px;
        top: 10px;
        border: none;
      }
    }
  }
  .collapseAsideBtn {
    margin-left: 63px;
    @media (max-width: 768px) {
      margin-left: 15px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background: white;
    border: 1px solid var(--Orange);
    width: 35px;
    height: 35px;
  }
}
/* -------------------------- */
/* --------商品區域----------- */
.PdArea {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 60px;
  min-height: 40vh;
}
/* --------------------------- */
/* ---------商品清單---------- */
.PdList {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: auto;
}
/* --------------------------- */
/* ---------商品群組----------- */
.ProductCardGroup {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}
/* --------------------------- */
/* ----------他愛區------------ */
.empty {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.AlsoBuy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  overflow: hidden;
}
.AlsoBuyTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.AlsoBuyContent {
  display: flex;
  align-items: center;
  gap: 15px;
  .ProductInfoImgSmallBtn {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--orange);
    border-radius: 50%;
  }
}
.AlsoBuyList {
  display: flex;
  align-items: center;
  gap: 30px;
}
.OtherLike {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  width: 100%;
  overflow: hidden;
}
.OtherLikeTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.OtherLikeContent {
  display: flex;
  align-items: center;
  gap: 15px;
  .ProductInfoImgSmallBtn {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid var(--orange);
    border-radius: 50%;
  }
}
.OtherLikeList {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* --------------------------- */
/* ---------page元件---------- */
.ProductListPagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .PageItem {
    cursor: pointer;
  }
}
.PageItem {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--Orange);
  border-radius: 50%;
  &:hover {
    background: var(--Orange);
    color: var(--White);
  }
  .PageLink {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.PageItemActive {
    background: var(--Orange);
    color: var(--White);
  }
}
.PageArrow {
  display: flex;
  align-items: center;
  img {
    display: block;
  }
}
.dropdownMenuOff {
  display: none;
}
.dropdownMenu {
  display: flex;
  flex-direction: column;
  transform: translate(0px, 38px) !important;
  inset: 0px 0px auto 0px !important;
  min-width: 20px;
  max-height: 150px;
  overflow-y: auto;
  .dropdownItem {
    padding: 0;
    &.PageItemActive {
      background: var(--Orange);
      color: var(--White);
    }
  }
  .dropdownItem:hover {
    background: var(--Orange);
    color: var(--White);
  }
  .PageLink {
    padding: 2px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* -------------------------- */
