.container {
  margin-top: 180px;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.breadcrumbs {
  width: 242px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h4 {
    color: var(--gray);
  }
  .breadcrumbs-active {
    color: var(--Black);
    font-weight: bold;
  }
}
.product-info {
  width: 100%;
}
