.container{
background-image: url(../../public/teacher-img/favorite.png);
height: 400px;
justify-content: center;
align-content: center;
}

.text{
    font-size: 42px;
font-weight: 700;
letter-spacing: 3px;
    color: white;
}