body {
  overflow-x: hidden;
}
.section1 {
  position: relative;
  min-height: 990px;
  background-color: #f5842b;

  .words {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 250px;
  }
  .sales {
    padding: 50px;
    box-sizing: border-box;
    z-index: 100;
  }
  .sale1 {
    color: var(--real-wh, #fff);
    text-align: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 107.1px */
    letter-spacing: 17.64px;
  }
  .sale2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--real-wh, #fff);
    text-align: center;

    h2 {
      font-family: "Noto Sans TC", sans-serif;
      font-size: 90px;
      font-style: normal;
      font-weight: 900;
      line-height: 20%; /* 157.2px */
      letter-spacing: 13.2px;
      padding: 25px;
    }

    .discountWord {
      font-size: 85px;
    }
  }
  .sale3 {
    /* overflow: hidden; */
    color: var(--Color-6, #3b3330);
    text-align: center;
    text-overflow: ellipsis;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%; /* 43.2px */
    letter-spacing: 6.24px;
    button {
      width: 260px;
      padding: 14px 44px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: none;
      border-radius: 30px;
      background: var(--Color-5, #f6ce5b);
      color: var(--Color-6, #3b3330);
      text-align: center;
      font-family: "Noto Sans TC", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 39px; /* 162.5% */
      letter-spacing: 1.2px;
      cursor: pointer;
    }
  }
  .dog {
    position: relative;
    width: 508px;
    height: 755px;
    z-index: 1;
    /* background-image: url("../img/dogBackground.png"); */
    /* background-repeat: no-repeat; */

    .paw2 {
      position: absolute;
      left: -30%;
      top: 25%;
      z-index: -1;
    }
    .dogBackground {
      position: absolute;
      right: 2%;
      bottom: -23%;
      z-index: 1;
    }

    .lines {
      position: absolute;
      right: -35%;
      top: 18%;
      z-index: 0;
    }

    .dogPic {
      position: absolute;
      right: 13%;
      bottom: -25%;
      z-index: 2;
    }
    .paw3 {
      position: absolute;
      right: -34%;
      bottom: -19%;
      z-index: 1;
    }
  }
  .icons {
    .paw1 {
      position: absolute;
      left: -1%;
      bottom: 10%;
    }
  }

  .whiteWave {
    width: 100%;
    height: auto;

    img {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: auto;
      z-index: 0;
    }
  }
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #fdfaf5;
  padding: 113px 0px 80px;

  .words {
    padding: 0px 68px;
    margin-bottom: 100px;
    .shopping {
      color: var(--Color-3, #66c5bd);
      /* leading-trim: both;
        text-edge: cap; */
      font-family: "Roboto Slab";
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 52px;
      margin: 30px;
    }
    .today {
      color: var(--Color, #f5842b);
      font-family: "Roboto Slab";
      font-size: 56px;
      font-style: normal;
      font-weight: 800;
      line-height: 67px;
      margin: 30px;
    }
  }

  .imgs {
    .dogCookie {
      position: absolute;
      right: 331.24px;
      top: 61px;
      z-index: 1;
      width: 251.227px;
      height: 235.902px;
    }
    .cookieBag {
      position: absolute;
      right: 175.941px;
      top: -31px;
      z-index: 0;
      width: 318px;
      height: 309px;
    }
  }

  .productCards {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 37px 72px;
    align-self: stretch;
    flex-wrap: wrap;
    margin-bottom: 350px;

    .card {
      justify-content: center;
      align-items: center;
      width: 240px;
      min-width: 240px;
      cursor: pointer;
      .pdPics {
        overflow: hidden;
        border-radius: var(--card-radius, 25px);
        border: 2px solid #fec84d;
        height: 240px;
        margin-bottom: 29px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      p {
        overflow: hidden;
        color: #84572e;
        text-align: center;
        text-overflow: ellipsis;
        font-family: "Kosugi Maru";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.08px;
        margin-bottom: 21px;
      }
    }
  }

  .brownWave {
    width: 100%;
    height: auto;

    img {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: auto;
      z-index: 0;
    }
  }
}

.section3 {
  position: relative;
  background-color: #fff6e8;

  .discountPic {
    position: relative;
    /* top: 15%; */
    left: 50%;
    translate: -50% -75%;
    background-color: #f6ce5b;
    width: 1335px;
    height: 350px;
    border-radius: 30px;
    z-index: 2;

    .discountPic3 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .girlDog {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      bottom: 0;
      color: #f5842b;
      text-align: center;
      font-family: "Noto Sans TC";
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 85px; /* 132.813% */
      letter-spacing: 9.6px;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 70%;
      left: 50%;
      translate: -50% -50%;
      width: 320px;
      height: 63px;
      padding: 28px 61px;
      border: none;
      border-radius: 30px;
      background: var(--Color, #f5842b);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
      color: var(--text-Wh, #f7f7f7);
      text-align: center;
      font-family: sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 800;
      letter-spacing: 2.5px;
      box-sizing: border-box;
      cursor: pointer;
    }
    .circle {
      display: grid;
      place-items: center;
      position: absolute;
      right: -72px;
      bottom: -67px;
      background-color: #66c5bd;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      color: #fff;
      font-family: "Work Sans", sans-serif;
      font-size: 36px;
      font-weight: 800;
      line-height: 39px;
    }
  }

  .hotel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 150px 250px;

    .map {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .hotelWords {
      display: grid;
      place-items: center;
      text-align: center;

      h2 {
        color: var(--Color, #f5842b);
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 10.24px;
        padding-bottom: 43px;
        margin: 0;
      }
      p {
        color: #545252;
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.64px;
        padding-bottom: 68px;
      }
      button {
        width: 230px;
        height: 70px;
        padding: 20px 40px;
        justify-content: center;
        align-items: center;
        background: var(--Color, #f5842b);
        color: var(--white, #fff);
        border: none;
        text-align: center;
        font-family: "Noto Sans TC", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
      }
    }
    .hotelViews {
      position: absolute;
      left: 10%;
      top: 20%;
      background-color: #fff;
      width: 200px;
      /* height: 180px; */
      border: 1px solid #f6ce5b;
      border-radius: 10px;
      box-sizing: border-box;
      overflow: hidden;
      img {
        width: 200px;
        height: 150px;
        object-fit: cover;
      }
      h5 {
        overflow: hidden;
        color: #84572e;
        text-align: center;
        text-overflow: ellipsis;
        font-family: "Kosugi Maru";
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 3.08px;
        margin: 0;
        padding: 10px 0;
      }
    }
  }

  .firework1 {
    position: absolute;
    right: 9%;
    top: 25%;
  }
  .firework2 {
    position: absolute;
    left: 37%;
    bottom: 20%;
  }

  .whiteWave2 {
    width: 100%;
    height: auto;

    img {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
    }
  }
}

.section4 {
  position: relative;
  display: grid;
  place-items: center;
  margin-bottom: 90px;
  h2 {
    color: var(--Color-3, #66c5bd);
    text-align: center;
    font-family: "Noto Sans TC";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 10.24px;
  }
  .userCards {
    display: flex;
    width: 1920px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 90px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 360px;
      height: 240px;
      border-radius: 10px;
      background: #fffaf0;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
      font-family: "Noto Sans TC";
      font-style: normal;
      box-sizing: border-box;
    }
    .card1 {
      padding: 28px 0px;
      /* gap: 20px; */
      .p1 {
        color: var(--Color-3, #66c5bd);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 3.6px;
        margin: 0;
      }
      .p2 {
        color: #f5842b;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 6.4px;
        margin: 0;
      }
      h5 {
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        color: #000000;
        margin: 20px 0 0 0;
      }
    }
    .card2 {
      padding: 31px 11px;
      gap: 10px;
      .shipIcon {
        width: 60px;
        height: 60px;
      }
      h5 {
        color: #f5842b;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 52px; /* 144.444% */
        letter-spacing: 3.6px;
        margin: 0;
      }
      p {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px; /* 192.857% */
        margin: 0;
      }
    }
    .card3 {
      padding: 31px 11px;
      gap: 10px;
      .moneyIcon {
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      h5 {
        color: #f5842b;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 52px; /* 144.444% */
        letter-spacing: 3.6px;
        margin: 0;
      }
      p {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px; /* 192.857% */
        margin: 0;
      }
      span {
        color: #f00;
      }
    }
    .card4 {
      padding: 31px 11px;
      gap: 10px;
      /* .qrcode {
      } */
      h4 {
        color: #f5842b;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 52px; /* 144.444% */
        letter-spacing: 3.6px;
        margin: 0;
      }
      p {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px; /* 192.857% */
        margin: 0;
      }
      span {
        color: #f00;
      }
    }
  }
  button {
    width: 480px;
    height: 73px;
    padding: 12px 48px;
    background: var(--green, #66c5bd);
    border: none;
    color: var(--white, #fff);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
  }
  .yellowPaws {
    position: absolute;
    right: 10px;
    bottom: -172px;
  }
}

.btns {
  button {
    position: fixed;
    width: 63px;
    height: 63px;
    background: #66c5bd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .ticketIcon {
    right: 28px;
    bottom: 166px;
    z-index: 99;
  }
  .topIcon {
    right: 28px;
    bottom: 60px;
    z-index: 99;
  }
}
